<!DOCTYPE html>
<html lang="en">
{% include "partials/nc_head.html" %}
<body class="{{ page.title }}">
{% include "partials/nc_nav.html" %}
<section>
<table id="index-table">
  <thead>
    <tr>
      <th class="sortable active" data-sort="script">script</th>
      <th class="sortable" data-sort="author">author</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    {% for project in page.meta.projects %}
    <tr>
      <td><a href="{{ project.url }}">{{ project.raw_name }}</a></td>
      <td><a href="/#{{ project.authors | join('-') }}">{% for author in project.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}</a></td>
      <td>{{ project.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>
{% include "partials/nc_footer.html" %}
<script src="/javascripts/script.js"></script>
</body>
</html>
