<!DOCTYPE html>
<html lang="en">
{% include "partials/nc_head.html" %}
<body class="{{ page.title }}">
{% include "partials/nc_nav.html" %}
<section>
{% if page.meta.cover is defined and page.meta.cover %}
  <img src="/covers/{{ page.meta.cover }}" alt="{{ page.title }}" />
{% endif %}
<br/>
<table>
  {% if page.meta.raw_name is defined and page.meta.raw_name != "" %}
    <tr>
      <td>project name:</td>
      <td>{{ page.meta.raw_name }}</td>
    </tr>
  {% endif %}
  {% if page.meta.project_url is defined and page.meta.project_url != "" %}
    <tr>
      <td>project url:</td>
      <td>
        <a href="{{ page.meta.project_url }}">{{ page.meta.project_url }}</a>
      </td>
    </tr>
  {% endif %}
  {% if page.meta.authors is defined and page.meta.authors %}
    <tr>
      {% if page.meta.authors | length > 1 %}
        <td>authors:</td>
        <td>
          {% for author in page.meta.authors %}
            <a href="/author/#{{ author }}">{{ author }}</a>
          {% endfor %}
        </td>
      {% else %}
        <td>author:</td>
        <td>
          <a href="/author/#{{ page.meta.authors[0] }}">{{ page.meta.authors[0] }}</a>
        </td>
      {% endif %}
    </tr>
  {% endif %}
  {% if page.meta.description is defined and page.meta.description != "" %}
    <tr>
      <td>description:</td>
      <td>{{ page.meta.description }}</td>
    </tr>
  {% endif %}
  {% if page.meta.discussion_url is defined and page.meta.discussion_url != "" %}
    <tr>
      <td>discussion url:</td>
      <td>
        <a href="{{ page.meta.discussion_url }}">{{ page.meta.discussion_url }}</a>
      </td>
    </tr>
  {% endif %}
  {% if page.meta.documentation_url is defined and page.meta.documentation_url != "" %}
    <tr>
      <td>documentation url:</td>
      <td>
        <a href="{{ page.meta.documentation_url }}">{{ page.meta.documentation_url }}</a>
      </td>
    </tr>
  {% endif %}
  {% if page.meta.tags is defined and page.meta.tags %}
    <tr>
      <td>tags:</td>
      <td>
        {% for tag in page.meta.tags %}
          <a href="/tag/{{ tag }}/" class="project-tag tag">{{ tag }}</a>
        {% endfor %}
      </td>
    </tr>
  {% endif %}
</table>
{% set test = page.content | trim %}
{% if test != "" %}
  <hr/>
  {{ page.content }}
{% endif %}
</section>
{% include "partials/nc_footer.html" %}
<script src="/javascripts/script.js"></script>
</body>
</html>
