{%- if page.url == "/" -%}
  {%- assign page_title = site.title | append: " | " | append: site.description -%}
{%- elsif page.title -%}
  {%- assign page_title = page.title | append: " | " | append: site.title -%}
{%- else -%}
  {%- assign page_title = site.title -%}
{%- endif -%}
{%- if page.description -%}
  {%- assign page_description = page.description | strip_html -%}
{%- else -%}
  {%- assign page_description = site.description -%}
{%- endif -%}
{%- if page.screenshot -%}
  {%- assign page_image = '/assets/covers/' | append: page.screenshot -%}
{%- else -%}
  {%- assign page_image = '/assets/images/dust.png' -%}
{%- endif -%}