---
layout: abstract
---
<div class="tags">
  {% for tag in page.tags %}
    <button class="tag" data-tag="{{ tag }}" data-toggle="off">{{ tag }}</button>
  {% endfor %}
</tags>
<div class="projects">
  {% for project in page.projects %}
    {% assign tags = project.tags | join: ' ' %}
    <div class="project show" data-tags="{{ tags }}">
      <a href="{{ project.url }}">
        <img src="/assets/covers/{{ project.screenshot }}" alt="{{ project.raw_name }}" />
        <h1>{{ project.raw_name }}</h1>
        <p>{{ tags }}</p>
      </a>
    </div>
  {% endfor %}
  <div id="no-results">
    <h1>no results.</h1>
  </div>
</div>