---
layout: abstract
---
<h1>{{ page.title }}</h1>
{% if page.screenshot and page.screenshot != '' %}
  <img src="/assets/screenshots/{{ page.screenshot }}" alt="{{ page.title }}" />
{% endif %}
<br/>
<ul>
  <li>project_url: <a href="{{ page.project_url }}">{{ page.project_url }}</a></li>
  {% if page.authors.size > 1 %}
    <li>authors:
      <ul>
        {% for author in page.authors %}
        <li><a href="/author#{{ author }}">{{ author }}</a></li>
        {% endfor %}
      </ul>
  {% else %}
    <li>author: <a href="/author#{{ page.authors }}">{{ page.authors }}</a></li>
  {% endif %}
  <li>description: {{ page.description }}</li>
  <li>discussion_url: <a href="{{ page.discussion_url }}">{{ page.discussion_url }}</a></li>
  <li>documentation_url: <a href="{{ page.documentation_url }}">{{ page.documentation_url }}</a></li>
  <li>tags:
    <ul>
      {% for tag in page.tags %}
      <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
