<!DOCTYPE html>
<html lang="en">
{% comment %} {% include variables.html %} {% endcomment %}
{% comment %} {% include head.html %} {% endcomment %}
<body class="{{ page.title }}">
{% comment %} {% include nav.html %} {% endcomment %}
<section>
{{ content }}
</section>
{% comment %} {% include footer.html %} {% endcomment %}
{% comment %} {% include script.html %} {% endcomment %}
</body>
</html>